ipython @ file:///opt/concourse/worker/volumes/live/ad15a75a-a92a-4436-5caa-8624ec6ae6f9/volume/ipython_1632141406254/work
joblib==1.1.0
matplotlib==3.4.3
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
nltk==3.7
numpy @ file:///opt/concourse/worker/volumes/live/660b80d1-747e-493a-6b34-55d0a0e21650/volume/numpy_and_numpy_base_1626271790683/work
pandas==1.3.3
plotly==5.18.0
regex==2022.6.2
scikit-learn==1.0
scipy @ file:///opt/concourse/worker/volumes/live/4eabb14c-0fb3-4254-5fd3-317c14f470de/volume/scipy_1630606815835/work
seaborn==0.11.2
stats==0.1.2a0
statsmodels==0.13.2
tablib==3.2.1
tenacity==8.2.3
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0